.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--clr-background);
    flex-direction: column;
}
  
.left {
    flex: 1;
    padding: 2rem;
    background-color: var(--clr-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftContainer{
  width: min(90%, 30rem);
  margin-inline: auto;
  position: relative;
}

.right {
  flex: 1;
  display: none;
  background: var(--clr-gradient);
  min-height: 100vh;
}
  
.rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem;
  width: 90%;
}


.toggleContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
  background-color: var(--clr-background);
  display: flex;
  align-items: center;
}

.toggleContainer > svg{
  margin: 0;
  padding: 0;
}
.header {
    text-align: right;
    margin-bottom: 2rem;
    color: var(--clr-primary);
}

.tabsContainer {
  display: flex;
  width: 100%;
  max-width: 25rem;
  margin: 2rem auto;
  border: 2px solid var(--clr-primary);
  border-radius: 2rem;
  overflow: hidden;
}

.tab {
  flex: 1;
  padding: 0.75rem 1rem;
  text-align: center;
  font-weight: 500;
  font-size: var(--fs-300);
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-primary);
  transition: all 0.3s ease;
}

.tab:first-child {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.tab:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.active {
  background-color: var(--clr-primary);
  color: #fff;
}

.tab:hover {
  background-color: var(--clr-primary);
  color: #fff;
}

  

  
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  
    .right {
      display: flex;
    }
  }
  
  .title {
    font-weight: 600;
    margin-bottom: 1rem;
}
  
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.forgotPassword{
  display: flex;
  justify-content: flex-end;
  font-size: var(--fs-200);
  color: var(--clr-accent);
}