.title {
    font-weight: 600;
    margin-bottom: 1rem;
}
  
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
  
  .orDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .line {
    flex: 1;
    height: 1px;
    background-color: var(--clr-accent);
  }
  
  .text {
    font-size: var(--font-300);
    color: var(--clr-grey-2);
    white-space: nowrap;
  }

.resendEmail{
  text-decoration: underline;
}

.forgotPassword{
  display: flex;
  justify-content: flex-end;
  font-size: var(--fs-200);
  color: var(--clr-accent);
}