@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-italics';
  src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Semi-Bold';
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-scheme: light;

  --font-inter: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --font-inter-italics: 'Inter-italics' system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --font-poppins-bold: "Poppins-Bold", serif;
  --font-poppins: "Poppins", serif;
  --font-poppins-semi-bold: "Poppins-Semi-Bold", serif;

  --fs-200: clamp(0.75rem, calc(0.73rem + 0.004vw), 0.79rem);
  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --color-scheme: light;

  --clr-background: hsl(160, 60%, 98%);
  --clr-text: hsl(215, 21%, 11%);
  --clr-primary: hsl(153, 57%, 51%);
  --clr-primary-dark: hsl(154, 59%, 30%);
  --clr-secondary: hsl(192, 56%, 74%);
  --clr-secondary-dark: hsl(191, 56%, 26%);
  --clr-accent: hsl(205, 57%, 61%);
  --clr-accent-dark: hsl(205, 57%, 39%);
  --clr-grey-1: hsl(0, 0%, 80%);
  --clr-grey-2: hsl(0, 0%, 40%);
  --clr-error: hsl(0, 70%, 50%);
  --clr-gradient: linear-gradient(135deg, 
    hsl(153, 57%, 51%) 0%, 
    hsl(192, 56%, 74%) 50%, 
    hsl(205, 57%, 61%) 100%);

}


html[data-theme='dark'] {
  --clr-background: hsl(220, 20%, 12%);
  --clr-text: hsl(158, 50%, 97%);
  --clr-primary: hsl(154, 60%, 30%);
  --clr-primary-dark: hsl(153, 57%, 51%);
  --clr-secondary: hsl(191, 56%, 26%);
  --clr-secondary-dark: hsl(192, 56%, 74%);
  --clr-accent: hsl(205, 57%, 39%);
  --clr-accent-dark: hsl(205, 57%, 61%);
  --clr-grey-1: hsl(0, 0%, 30%);
  --clr-grey-2: hsl(0, 0%, 65%);
  --clr-error: hsl(0, 100%, 70%);
  --clr-gradient: linear-gradient(135deg, 
  hsl(154, 60%, 30%) 0%, 
    hsl(191, 56%, 26%) 50%, 
    hsl(205, 57%, 39%) 100%);
}


/* https://www.realtimecolors.com/?colors=fbdff6-090108-e41bb2-7b6c0f-6da314&fonts=Inter-Inter */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: var(--color-scheme);
}

body {
  margin: 0;
  font-family: var(--font-inter);
  font-size: var(--fs-300);
  line-height: 1.6;
  background-color: var(--clr-background);
  color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-poppins-bold);
}

h1{
  font-size: var(--fs-700);
}
h2 {
  font-size: var(--fs-600);
}
h3 {
  font-size: var(--fs-500);
}
h4 {
  font-size: var(--fs-400);
}
h5 {
  font-size: var(--fs-300);
}
h6 {
  font-size: var(--fs-200);
}

img{
  font-size: var(--fs-300);
  font-style: italic;
  color: rgba(0,0,0,0);
}

.content-grid {
  --padding-inline: 2rem;
  --content-max-width: 56.25rem;
  --breakout-max-width: 75rem;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}

html {
  color-scheme: var(--color-scheme);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.call-to-action {
  padding: 1rem;
  background: hsl(0 0% 100% / 0.15);
}

.flow > * + * {
  margin-top: var(--flow-spacing, 1em);
}

.spacing-xxs{
  margin-bottom: 0.25rem;
}

.spacing-xs{
  margin-bottom: 0.5rem;
}

.spacing-sm{
  margin-bottom: 1rem;
}

.spacing-md{
  margin-bottom: 2rem;
}

.spacing-lg{
  margin-bottom: 4rem;
}

.spacing-xl{
  margin-bottom: 6rem;
}

.spacing-xxl{
  margin-bottom: 8rem;
}


/* buttons */
.btn {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: ease-in 0.3s;
  font-size: var(--fs-300);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  background-color: transparent;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #fff;
}
.btn-primary:hover {
  background-color: var(--clr-primary-dark);
}

.btn-secondary {
  background-color: var(--clr-secondary);
  color: #fff;
}
.btn-secondary:hover {
  background-color: var(--clr-secondary-dark);
}

.btn-accent {
  background-color: var(--clr-accent);
  color: #fff;
}
.btn-accent:hover {
  background-color: var(--clr-accent-dark);
}

.btn-primary-outline {
  border: 1px solid var(--clr-primary);
  color: #fff;
}
.btn-primary-outline:hover {
  background-color: var(--clr-primary);
}

.btn-secondary-outline {
  border: 1px solid var(--clr-secondary);
  color: #fff;
}
.btn-secondary-outline:hover {
  background-color: var(--clr-secondary);
}

.btn-accent-outline {
  border: 1px solid var(--clr-accent);
  color: #fff;
}
.btn-accent-outline:hover {
  background-color: var(--clr-accent);
}

.btn-block{
  width: 100%;
}