.container {
    display: flex;
    min-height: 100vh;
    background-color: var(--clr-background);
    flex-direction: column;
}
  
.left {
    flex: 1;
    padding: 2rem;
    background-color: var(--clr-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftContainer{
  width: min(90%, 30rem);
  margin-inline: auto;
  position: relative;
}
  
.right {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: center;
    background-image: url('/images/signup-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
  
.image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--clr-gradient);
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.toggleContainer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
  
.header {
    font-size: var(--fs-300);
    text-align: right;
    margin-bottom: 2rem;
    color: var(--clr-primary);
    font-weight: 600;
}
  
.title {
    font-size: var(--fs-500);
    font-weight: 600;
    margin-bottom: 1rem;
}
  
.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
  
.submit {
    background-color: var(--clr-primary);
    color: #fff;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in 0.3s;
    font-size: var(--fs-300);
}
  
.submit:hover {
    padding: 0.85rem 1.2rem;
}
  
  .googleBtn {
    margin-top: 1rem;
    background: #fff;
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  
    .right {
      display: flex;
    }
  }
  