
.carousel {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .illustration {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 1.5rem;
  }
  
  .carouselText {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    gap: 0.5rem;  
  }
  
  .activeDot {
    color: var(--clr-accent);
  }
  
  .inactiveDot {
    color: var(--clr-grey-2);
  }